@font-face {
    font-family: font;
    src: url('Ponzi Hat.otf');
}
*{
    outline: 1px solid red; 
}
#registration{ 
    border: none;
    height: 615px;
    width: 958px;
    margin-top: 104px;
    padding-left: 546px;
    padding-top: 102px;
    background-color: rgba(0,0,0,0.62);
    border-radius: 63px;
   

}


body{
   
display: flex;
justify-content: center;
align-items: center;
background: url('abstract-digital-grid-black-background.jpg');
background-size: cover;
background-position: center;
font-family: font;


}
.form-floating{
    width: 397px;
    padding: 8px;
   
}
.form-control{
    border-radius: 15px;
    box-shadow: 1.5px 2.5px rgb(27, 189, 243);
    background-color: whitesmoke;
   
}
.btn{
    margin: 10px 154px;
    width: 120px;
    height: 37px;
}
#registration img{
    height: 492px;
    width: 492px;
    display: block;
    position: relative;
    top: -468px;
    left: -525px;
    animation: reg 4s ease-in-out infinite alternate;
    animation-duration: 3s;
}
@keyframes reg {
    100%{
        transform: translateY(20px);
}
}
#registration h2{
    color: white;
    font-family: font;
    position: absolute;
    top: 123px;
    left: 644px;
    font-size: 41px;
}
#registration h2:hover{
    text-shadow: 1px 1.5px aqua;
}
